@import url('//fonts.googleapis.com/earlyaccess/notosanskr.css');

* {
  font-family: 'Noto Sans KR', sans-serif;
}

.center-title {
    text-align: center;
    width: 100%;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; // 예: 특정 높이 설정
    background-color: rgb(29, 29, 29);
  }
  
  .text {
    text-align: center; // 텍스트 정렬
    font-size: 12px;
  }
  
