<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
     META CINEMONG
    </ion-title>
    <ion-buttons slot="end">
      <ion-icon name="search-outline" class="search-outline"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<!-- <ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">MEAT CINEMONG</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-explore-container name="Tab 1 page"></app-explore-container> -->
  <ion-content>
  <div class="main">
    <div class="preview">
      <img src="https://search.pstatic.net/common/?src=http%3A%2F%2Fimgnews.naver.net%2Fimage%2F079%2F2024%2F06%2F19%2F0003906729_001_20240619102510964.jpg&type=sc960_832" alt="DEADPOOL" />
      
    </div>
    <div class="container1">
      <p>오늘의 영화 Top 10</p>
      <div class="movie-list">
        <img src="https://search.pstatic.net/common?quality=75&direct=true&src=https%3A%2F%2Fmovie-phinf.pstatic.net%2F20240222_175%2F1708609058134r4oaq_JPEG%2Fmovie_image.jpg" alt="파묘">
        <img src="https://search.pstatic.net/common?quality=75&direct=true&src=https%3A%2F%2Fmovie-phinf.pstatic.net%2F20240522_299%2F1716357955943Tj7wF_JPEG%2Fmovie_image.jpg" alt="데드풀">
      </div>
    </div>
    <div class="container2">
      <p>모두의 인기 콘텐츠</p>
      <div class="movie-list2">
          <!-- 첫 번째 영화 아이템 -->
          <div class="movie-item">
              <img src="https://search.pstatic.net/common?quality=75&direct=true&src=https%3A%2F%2Fmovie-phinf.pstatic.net%2F20240222_175%2F1708609058134r4oaq_JPEG%2Fmovie_image.jpg" alt="파묘">
              <div class="movie-details">
                  <span class="movie-title">1 파묘</span>
                  <span class="movie-genre">호러/스릴러</span>
              </div>
          </div>
          <!-- 두 번째 영화 아이템 -->
          <div class="movie-item">
              <img src="https://search.pstatic.net/common?quality=75&direct=true&src=https%3A%2F%2Fmovie-phinf.pstatic.net%2F20240522_299%2F1716357955943Tj7wF_JPEG%2Fmovie_image.jpg" alt="데드풀">
              <div class="movie-details">
                  <span class="movie-title">2 데드풀</span>
                  <span class="movie-genre">액션</span>
              </div>
          </div>
          <div class="movie-item">
              <img src="https://search.pstatic.net/common/?src=http%3A%2F%2Fblogfiles.naver.net%2FMjAyNDA3MTJfMTQy%2FMDAxNzIwNzQ4MDU4NTgz.5-_HioBr2G8N9zJzwte4PggZ5B0TVXR1kIt35oSHUUMg.y-5xVzhWyNAfs4KkNOEUqX0SQCXJW64X2zKZi6WloKIg.JPEG%2F%25C6%25ED%25C1%25FD_common_%252828%2529.jpeg&type=sc960_832" alt="파일럿">
              <div class="movie-details">
                  <span class="movie-title">3 파일럿</span>
                  <span class="movie-genre">코미디</span>
              </div>
          </div>
          <!--아이오닉 swiper 넣기-->
    
      </div>
    </div>\
    <div class="container3">
  </div>
</ion-content> 


